# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
.vscode

# Ignore node
node_modules/
package-lock.json


simulator/out
generated
simulator/s4.json
simulator/s1.json
simulator/s2.json
simulator/s3.json
