body {
  background-color: #242424;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: monospace;
  user-select: none;
}

#main-canvas {
  margin-top: 25px;
  width: 100%;
  position: absolute;
}

#axes-canvas {
  margin-top: 25px;
  width: 100%;
  position: absolute;
}

#trajectory-canvas {
  margin-top: 25px;
  width: 100%;
  position: absolute;  
}

::backdrop {
    background: none;
}