body {
  background-color: #000000;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: monospace;
  user-select: none;
}

#main-canvas {
  position: absolute;
}

#axes-canvas {
  position: absolute;
}

#trajectory-canvas {
  position: absolute;  
}

::backdrop {
    background: none;
}